
*{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

html,body {
	height:100%;
}

body{
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	height:90px;
	background-color: #e92624;
	display:flex;
	align-items: center;

}

.logo{
	height: 80%;
	width: auto;
	margin-left: 2%;

}

.logo img{
	height:100%;
	width: auto;

}

.meni{
	margin-left: auto;
	margin-right: 2%;
}

.meni p{
	display:flex;
	gap:25px;
}

a {
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 25px;
}

a:hover {
	color: #f7acac;
}

.ilustracija{
	display: flex;
	height: calc(100vh - 90px);
}

.ilustracijatekst{
	padding-left: 2%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 10vh;
}

.ilustracija h1{
	color:#e92624;
	font-size: 120px;
	font-weight: 600;

}

.ilustracija h2 {
	color:#e92624;
	font-size:50px;
	font-weight: 400;
	margin-bottom: 50px;
}

.ilustracija .contact{
	color:#e92624;
	font-size: 20px;

}

.ilustracijagif {
	background-image: url('glavna.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
   height: 100%;
   display:flex;
   justify-content: center;
   object-fit: contain;
}

.ilustracijagif .overlay {
   height: 100%;
   width:100%;
   display:flex;
   justify-content: center;
   object-fit: contain;

}

.ilustracijagif:hover .overlay {
	opacity:0;
}